

#stats {
  font-family: "Antic Slab", serif;
  padding: 6% 9% 0;
  text-align: center;
}


/* Companies */

#companies {
  padding: 4% 3%
}

.company-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  background-color: #fff;
}

.company-img {
  width: 95%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.company-text {
  width: 100%;
  top: 100%;
  padding: 4% 4%;
  padding-bottom: 100%;
  font-size: .9rem;
  text-align: center;
  position: absolute;
  background-color: rgba(196, 191, 192, .75);
  color: #000;
  transition: top ease 1s;
}

.company-box:hover .company-text {
  top: 0;
}

.btn-company {
  width: 50%;
  margin: 4% auto;
}
