#people {
  padding: 5% 7%;
  text-align: center;
}

.people-card {
  background-color: #3F3F3F;
  width: 90%;
  border: none;
  margin: auto;
}

.people-card .card-header {
  background-color: #3f3f3f;
  border: none;
}

.people-card .card-text {
  font-size: 1.1rem;
}

.people-img {
  width: 60%;
}
