.section-heading {
  margin-bottom: 0;
}

#program-overview {
  padding: 5% 13%;
}

.program-card:hover {
  top: -5px;
}

.program-card {
  background-color: #3F3F3F;
  color: #fff;
  top: 0;
  transition: ease 0.5s;
  text-align: center;
}

.program-card .card-img {
  width: 100%;
  margin-bottom: 3%;
  object-fit: cover;
  height: 40vh;
}

.program-section .name {
  font-size: 1.5rem;
}

.program-section {
  padding: 2% 5%;
}

.program-section .callout {
  font-size: 2.5rem;
  padding-bottom: 0;
}

.program-img {
  width: 100%;
}

.program-intro {
  padding: 5% 20%;
}

.program-intro .callout {
  text-align: left;
}

.program-intro .big-number {
  line-height: 25%;
}

.btn-program {
  padding: 3% 5%;
  font-size: 1.5rem;
}

.program-benifits {
  padding: 3% 12% 5%;
}

.benifit-icon {
  font-size: 3rem;
  padding-bottom: 2%;
}
